.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: "Raleway";
}

.navbar-light {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black
}

.navbar-dark {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white
}

.horizontal-nav {
  display: flex;
  flex-direction: row;
}
.dark {
  color: white
}

.light {
  color: black
}

.form-switch .form-check-input:checked {
  background-color: black;
}

.form-switch .form-check-input::before {
  background-color: #28a745;
}

.form-switch .form-check-input::after {
  background-color: white;
}

@media (max-width: 800px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .navbar-light {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: black
  }
  
  .navbar-dark {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white
  }
}

p {
  line-height: 2;
  font-size: 1.2rem;
}

.background-light {
  border-color: #CE1212;
}

.background-dark {
  border-color: #10A19D;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("./assets/burger-light.svg") !important;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("./assets/burger-dark.svg") !important;
}

.icon-light {
  color: #CE1212
}

.icon-dark {
  color: #10A19D
}

.theme-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-container-light {
  background-color: #f4d474; /*f4d474; EEEBDD*/
  width: 100%;
  position: relative;
  padding: 7% 15%;
  color: black
}

.top-container-dark {
  background-color: #251749; /*f4d474; EEEBDD*/
  width: 100%;
  position: relative;
  padding: 7% 15%;
  color: white
}

.emph-name-light {
  color: #CE1212;
}

.emph-name-dark {
  color: #10A19D;
}

.title-name-light {
  font-size: 5.625em;
  font-weight: 600;
  font-family: 'Sacramento', sans-serif;
  color: #000;
  line-height: 2;
}

.title-name-dark {
  font-size: 5.625em;
  font-weight: 600;
  font-family: 'Sacramento', sans-serif;
  color: #FFF;
  line-height: 2;
}

#subtitle {
  font-weight: normal;
  padding: 3rem 0 3rem 0;
}

.subtitle-light {
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
  padding: 30px;
}

.subtitle-dark {
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
  padding: 30px;
}

.img-profile {
  border-radius: 100%;
  width: 25%;
  height: 25%;
  min-width: 200px;
}

@media (max-width: 800px) {
  .title-name {
    line-height: 1.5;
  }
}

.intro-light {
  width: 40%;
  margin: auto;
  color: #000
}

.intro-dark {
  width: 40%;
  margin: auto;
  color: #FFF
}

@media (max-width: 800px) {
  .intro-light {
  width: 80%;
  margin: auto;
  color: #000
  }

  .intro-dark {
    width: 80%;
    margin: auto;
    color: #FFF
  }
}

a {
  color: #EF5253;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}

a:hover {
  color: #CE1212;
}

.middle-container {
  width: 100%;
  position: relative;
}


.profile-light {
  padding: 3% 0;
  background-color: #FFF;
}

.profile-dark {
  padding: 3% 0;
  background-color: #495579;
}

.experience-light {
  background-color: #f4d474;
  padding: 3% 0;
  color: #000
}

.experience-dark {
  background-color: #251749;
  padding: 3% 0;
  color: #FFF
}
.edu-desc {
  font-size: 1rem;
}

@media (max-width: 800px) {
  .edu-desc {
    font-size: 1rem;
    width: 80%;
    margin: auto;
  }
}

.skills-light {
  padding: 3% 0;
  background-color: #FFF!important;
  color: #000
}

.skills-dark {
  padding: 3% 0;
  background-color: #495579!important;
  color: #FFF
}

.exp-row {
  margin: 2% 0;
  text-align: start;
}

.exp-section {
  text-align: left;
}

@media (max-width: 800px) {
  .exp-section {
    text-align: center;
  }
}

.ab-section {
  text-align: left;
}

@media (max-width: 800px) {
  .ab-section {
    text-align: center;
  }
}

.exp-subtit {
  font-size: 1rem;
}

.exp-desc {
  font-size: 1.2rem;
  margin: 3% 0;
}

.section-title-light {
  font-size: 2.5rem;
  font-family: 'Raleway', sans-serif;
  color: #CE1212; /*#CE1212; #CE1212 */
}

.section-title-dark {
  font-size: 2.5rem;
  font-family: 'Raleway', sans-serif;
  color: #10A19D; /*#CE1212; #CE1212 */
}

.section-subtitle {
  font-weight: bold;
  overflow: scroll;
}

.line-break {
  border-style: dotted none none none;
  border-width: 5px;
  border-color: gray;
  width: 5%;
  margin: 50px auto;
  background-color: transparent;
}


.borderless {
  border: none;
  font-size: 1.2rem;
}

.skill-eval-light {
  float: right;
  color: #EF5253;
}

.skill-eval-dark {
  float: right;
  color: #10A19D;
}

.btn-light {
  /* background: #CE1212;
  background-image: -webkit-linear-gradient(top, #EF5253, #CE1212);
  background-image: -moz-linear-gradient(top, #EF5253, #CE1212);
  background-image: -ms-linear-gradient(top, #EF5253, #CE1212);
  background-image: -o-linear-gradient(top, #EF5253, #CE1212);
  background-image: -webkit-gradient(to bottom, #EF5253, #CE1212); */
  border-radius: 10px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin: 20px;
  background-color: #CE1212;
}

.btn-dark {
  /* background: #CE1212;
  background-image: -webkit-linear-gradient(top, #EF5253, #CE1212);
  background-image: -moz-linear-gradient(top, #EF5253, #CE1212);
  background-image: -ms-linear-gradient(top, #EF5253, #CE1212);
  background-image: -o-linear-gradient(top, #EF5253, #CE1212);
  background-image: -webkit-gradient(to bottom, #EF5253, #CE1212); */
  border-radius: 10px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin: 20px;
  background-color: #10A19D;
}


.footer-link-light {
  color: #CE1212;
  font-family: 'Montserrat', sans-serif;
  /* line-height: 2; */
  margin: auto 30px;
  text-decoration: none;
}

.footer-link-dark {
  color: #10A19D;
  font-family: 'Montserrat', sans-serif;
  /* line-height: 2; */
  margin: auto 30px;
  text-decoration: none;
}

.footer-link:hover {
  color: #000;
}

.credits-light {
  color: #000;
  font-size: 0.75rem;
}

.credits-dark {
  color: #FFF;
  font-size: 0.75rem;
}